@{
    ViewBag.Title = "Home Page";
}

<div style="width:450px" ng-controller="mainCtrl">
    <div class="panel panel-info" style="margin-top:30px; margin-left:20px">
        <div class="panel-heading">
            <div class="row">
                <div class="col-lg-4"><h3 class="panel-title">Real Time Chat</h3></div>
            </div>
        </div>

        <div class="panel-body">
            <div class="scrollable">
                <div ng-repeat="msg in messages">{{msg.message}}</div>
            </div>
            <div>
                <input ng-model="newMessage" class="form-control input-sm pull-left" style="width:80%" type="text" placeholder="chat message" />
                <button class="pull-right btn btn-primary btn-sm" ng-click="sendMessage()">Send</button>
            </div>
        </div>
    </div>
</div>